.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.small {
  font-size: 12px;
  height: 16px;
  width: 16px
}

.medium {
  font-size: 24px;
  height: 32px;
  width: 32px;
}

.large {
  font-size: 50px;
  height: 64px;
  width: 64px;
}

.spin {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
