.inputWrapper {
  margin: 3px 0 8px;
  position: relative;
}

.input {
  border-radius: 3px;
  background: none;
  outline: 0;
  border: 1px solid black;
  background: white;
  padding: 7px;
  box-sizing: border-box;
}

.expand,
.expand input {
  width: 100%;
}
