.button {
  border-radius: 3px;
  color: white;
  border: none;
  padding: 8px 12px;
  outline: 0;
  cursor: pointer;
}

.primary {
  background: var(--sureBlue1);
}

.primary:hover {
  background: var(--sureBlue2);
}

.secondary {
  background: red;
}

.small {
  padding: 4px 8px;
}
